<%- include('partials/header') -%>

</div>
<!--//main-content-->
<!---->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item active">Blogs</li>
</ol>
<!---->
<!--// mian-content -->
<!-- banner -->
<section class="ab-info-main py-5">
  <div class="container py-lg-3">
    <div class="ab-info-grids">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-right">
            <a href="blog/addBlog" class="btn btn-sm btn-outline-dark">+</a>
          </div>
        </div>
      </div>
      <h3 class="tittle text-center mb-lg-5 mb-3">Blog Posts</h3>
      <div id="products " class="row view-group ">
        <% blogs.forEach(blog => { %>

        <div class="item col-lg-4 ">
          <div class="thumbnail card ">
            <div class="img-event ">
              <img class="group list-group-image img-fluid " src="<%= blog.image %>" alt=" " />
            </div>
            <div class="caption card-body ">
              <h4 class="group card-title inner list-group-item-heading ">
                <%= blog.title %>
              </h4>
              <p class="group inner list-group-item-text ">
                <%= blog.desc %>
              </p>
              <div class="row ">
                <div class="col-6 ">

                </div>
                <div class="col-6 ban-buttons ">
                  <a class="btn btn-course " href="single.html ">View More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>
<!-- //banner -->

<%- include('partials/footer') -%>